/* FUENTES */

@font-face {
    font-family: "BebasNeue";
    src: url('fonts/BebasNeue.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TrebuchetMS";
    src: url('fonts/TrebuchetMS.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "WebSymbolsRegular";
    src: url(fonts/websymbols-regular-webfont.eot);
    src: url(fonts/websymbols-regular-webfont.svg#WebSymbolsRegular) format("svg") url(fonts/websymbols-regular-webfont.eot);
    src: url(fonts/websymbols-regular-webfont.eot?#iefix) format("embedded-opentype"),
        url(fonts/websymbols-regular-webfont.woff) format("woff"),
        url(fonts/websymbols-regular-webfont.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

.gear,
.icon {
    font-family: WebSymbolsRegular;
}


.wrap {
    width: 1250px;
    margin: 0px auto;
}

body {
    background: url(../img/pattern.png);
}

/* HEADER*/

#header {
    width: 100%;
    background-color: #000000;
    height: 70px;
}

#header .wrap {
    display: flex;
    justify-content: space-between;
    height: 70px;
    font-family: BebasNeue;
}

#logo {
    text-align: center;
    float: left;
    background-color: #37BCF9;
    color: #ffffff;
    width: 200px;
    height: 50px;
    font-size: 35px;
    letter-spacing: 1px;
    margin-top: 7px;
    padding-top: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: all 300ms;
}

#logo:hover {
    border-radius: 2px;
    color: #000000;
    background-color: #ccc;
}

#logo h3 {
    display: block;
    float: right;
    font-size: 40px;
    margin-right: 20px;
}

#logo:hover h3 {
    animation: fromRight 300ms linear;
}

@keyframes fromRight {
    from {
        transform: translateX(200%);
    }

    to {
        transform: translateX(0%);
        ;
    }
}

#logo .gear {
    display: block;
    float: left;
    font-size: 30px;
    width: 40px;
    height: 40px;
    margin-left: 30px;
    margin-top: 3px;
    animation: rotate-gear 2s infinite linear;
    /*
    animation-name: rotate-gear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    */

}

@keyframes rotate-gear {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

#logo:hover .gear {
    animation: fromBellow 500ms linear;
}

@keyframes fromBellow {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(200%);
    }

    100% {
        transform: translateY(0%);
    }
}



#logo h3 {
    font-size: 40px;
    line-height: 50px;
    padding-right: 30px;
}

/* MENU */


#menu {
    font-family: BebasNeue;
    font-size: 30px;
    line-height: 70px;
}

#menu ul li {
    list-style: none;
    float: left;
}


#menu ul li a {
    display: block;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    transition: all 200ms;
}

#menu ul li a:hover {
    color: #37BCF9;
    transform: scale(1.2, 1.2);
}

/* BANNER */

#banner {
    width: 95.6%;
    height: 100px;
    border: 10px solid #ffffff;
    box-shadow: 0px 0px 2px gray;
    margin: 20px auto;
    background-image: url(../img/bakbaner.png);
    background-position: -200px -200px;
    color: #ffffff;
    font-size: 25px;
    overflow: hidden;
    animation: backBanner 10s linear;
}

@keyframes backBanner {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: -200px -200px;
    }
}

#banner h1 {
    display: block;
    width: 850px;
    margin: 27px auto;
    font-size: 40px;
    font-family: BebasNeue;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 2px 2px 1px #000000;
    animation: showText 10s linear;
}

@keyframes showText {
    0% {
        transform: translateX(-600%) scale(5, 5);
        opacity: 1;
    }

    50% {
        transform: translateX(600%) scale(5, 5);
        opacity: 1;
    }

    75% {
        transform: translateX(-600%) scale(5.5);
        text-shadow: none;
        color: transparent;
        opacity: 0;
    }

    100% {
        transform: translateX(0%) scale(1.1);
        text-shadow: 2px 2px 1px #000000;
        color: white;
        opacity: 1;
    }

}

/* CARDS */

.card {
    float: left;
    width: 209px;
    height: 305px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #ddd;
    background-color: #ffffff;
    margin: 17px;
    margin-top: 40px;
    cursor: pointer;
    transition: all 300ms;
    overflow: hidden;
}

.card:hover {
    background-color: #000000;
}

.card .icon {
    display: block;
    height: 130px;
    font-size: 50px;
    line-height: 100px;
    text-align: center;
    transition: all 300ms;
}

.card:hover .icon {
    font-size: 70px;
    color: #2f78bc;
    animation: showIcon 300ms linear;
}

@keyframes showIcon {
    from {
        transform: translateY(-200%);
    }

    to {
        transform: translateY(0%);
    }
}

.card .category {
    width: 100%;
    height: 50px;
    font-family: TrebuchetMS;
    font-size: 20px;
    text-align: center;
    color: #003763;
    transition: all 400ms;

}

.card:hover .category {
    color: #ffffff;
    animation: showCategory 400ms linear;
}

@keyframes showCategory {
    from {
        transform: translateY(-300%);
        color: #000000;

    }

    to {
        transform: translateY(0%);
        color: #ffffff;
    }
}


.card .description {
    font-family: TrebuchetMS;
    font-size: 15px;
    text-align: center;
    color: #003763;
    padding: 2px;
}

.card:hover .description {
    color: #ffffff;
    animation: showDescription 400ms linear;
}

@keyframes showDescription {
    from {
        transform: translateX(-300%);
        color: #000000;
    }

    to {
        transform: translateX(0%);
        color: #ffffff;
    }
}

/*ASIDE */



#lateral {
    height: 1135px;
    width: 337px;
    font-family: TrebuchetMS;
    float: right;
    margin-top: 60px;
    padding-left: 20px;
}

#lateral h3 {
    display: block;
    text-transform: uppercase;
    border: 1px solid #24282A;
    width: 300px;
    height: 50px;
    line-height: 45px;
    background: url(../img/pxgray.png), #ffffff;
    font-family: BebasNeue;
    font-size: 30px;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 12px;
    margin-bottom: 15px;
    letter-spacing: 2px;
    box-shadow: 1px 1px #000000;
}

#lateral h3:first-child {
    margin-top: 0px;
}

#search,
#login,
#social,
#sponsors {
    margin-top: 30px;
    margin-bottom: 40px;
}

#search {
    width: 90%;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #ccc inset;
}

#lateral input[type="text"] {
    width: 85%;
    height: 26px;
    padding-left: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
    color: #ccc;
    transition: all 300ms;
}

#lateral input[type="text"]:focus {
    color: #555;
}


#lateral input[type="button"] {
    font-size: 15px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-left: 1px solid #ccc;
    padding-left: 9px;
}

.aside-box {
    width: 85%;
    height: 240px;
    margin-left: 12px;
    background-color: #ffffff;
    padding-top: 5px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.3), 0px 1px #ffffff inset, 0px -3px 2px rgba(0, 0, 0, 0.3) inset;
}

#lateral input[type="email"],
#lateral input[type="password"] {
    display: block;
    margin: 0px auto;
    width: 76%;
    height: 26px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #ccc inset;
    border-radius: 5px;
    padding-left: 48px;
    transition: all 300ms;
    outline: none;
    margin-top: 10px;
}


#lateral input[type="email"]:focus,
#lateral input[type="password"]:focus {
    color: #555;
    box-shadow: 1px 1px 1px #ccc inset;
}

#login #user,
#login #password {
    display: block;
    text-align: center;
    position: absolute;
    margin-left: 25px;
    margin-top: 4px;
}

#login #password {
    font-size: 22px;
    padding-top: 8px;
    padding-left: 2px;
}

#login input[type="submit"],
#login input[type="button"],
#login input[type="reset"],
#login button {
    text-align: center;
    width: 100px;
    height: 36px;
    margin-top: 20px;
    color: #ffffff;
    background: linear-gradient(to bottom, #3eb8e5 0%, #2ca0ca 100%);
    border: 1px solid #156785;
    cursor: pointer;
    font-size: 15px;
    font-family: TrebuchetMS;
    margin-left: 20px;
    font-weight: lighter;
    text-transform: capitalize;
    transition: all 300ms;
}

#login input[type="submit"]:hover,
#login input[type="button"]:hover,
#login input[type="reset"]:hover,
#login button:hover {
    box-shadow: 0px 0px 3px gray;
}

#login a {
    display: block;
    padding-top: 20px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}

#login a:hover {
    text-decoration: underline;
    color: #2f78bc;
}


#social a {
    display: block;
    color: #000000;
    text-decoration: none;
    font-size: 30px;
    padding-top: 15px;
    padding-left: 20px;
}

#social .overlay {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    border: 3px solid #ffffff;
    background-color: #f4f7fe;
    text-shadow: 0px 0px 1px #ccc;
    box-shadow: 0px 0px 4px #ccc;
    position: absolute;
    margin-left: 75px;
    margin-top: -27px;
    transform: translateX(-80%);
    opacity: 0;
    transition: all 400ms;
}

#social div:hover .overlay {
    opacity: 1;
    transform: translateX(10%);
}

#social a:hover {
    color: #2f78bc;
}

/* ARTÃCULOS */

#articles {
    display: block;
    float: left;
    height: 1900px;
    width: 67%;
    margin-top: 60px;
}

#articles h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: BebasNeue;
    font-size: 30px;
    border: 1px solid #24282A;
    height: 60px;
    width: 100%;
    line-height: 60px;
    letter-spacing: 2px;
    background: url(../img/pxgray.png), #ffffff;
}

#articles .news {
    margin-top: 30px;
    border: 1px solid #CDCDCD;
    background-color: #ffffff;
    box-shadow: 1px 1px #ccc;
    font-family: TrebuchetMS;
    padding: 20px;
}

#articles .news .date {
    float: right;
    background-color: #393D3F;
    color: #ffffff;
    margin-top: -20px;
    margin-right: -21px;
    height: 50px;
    border-bottom-left-radius: 5px;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

#articles .news h4,
#articles .news h4 a {
    width: 190px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 23px;
    color: #00559B;
    margin-top: -9px;
}

#articles .news h4 a:hover {
    text-decoration: underline;
}

#articles .news p {
    padding-top: 30px;
}

#articles .news p a {
    text-decoration: none;
    color: #00559B;
    font-weight: bold;
}

#articles #blog {
    margin-top: 40px;
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border: 1px solid #CDCDCD;
    background-color: #ffffff;
    box-shadow: 1px 1px #ccc;
    transition: all 200ms;
}

#articles #blog a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 40px;
    color: #00559B;
    font-family: BebasNeue;
    font-weight: bold;
    letter-spacing: 3px;
    transition: all 200ms;
}

#articles #blog:hover {
    border: 10px solid #2f78bc;
    border-radius: 240px;
    box-shadow: 0px 0px 10px #808080;
    background-color: #555;
    color: white;
    animation: blink 6s infinite linear;
}

@keyframes blink {
    0% {
        border: 10px solid #2f78bc;
    }

    25% {
        border: 10px solid #008000;
    }

    50% {
        border: 10px solid #ffff00;
    }

    75% {
        border: 10px solid #ffffff;
    }

    100% {
        border: 10px solid #2f78bc;
    }
}

#articles #blog a:hover {
    text-shadow: 1px 1px 1px #000000,
        1px 2px 1px #000000,
        1px 3px 1px #000000,
        1px 4px 1px #000000,
        1px 5px 1px #000000,
        1px 6px 1px #000000;
    color: white;
}


.clearfix {
    clear: both;
}

#footer {
    width: 100%;
    height: 470px;
    background: #000000;
    color: white;
    overflow: hidden;
}

#footer .wrap>div {
    float: left;
    width: 320px;
    height: 370px;
    margin: 48px;
    color: white;
    text-align: center;
    font-family: TrebuchetMS;
}


#footer a {
    text-decoration: none;
    color: #3ABBED;
    transition: all 300ms;
}

#footer h5 {
    display: block;
    background: url('../img/pxgray.png'), #ffffff;
    height: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-family: BebasNeue;
    font-size: 40px;
    line-height: 55px;
    color: #000000;
    border-radius: 5px;
    margin-bottom: 15px;
}

#footer ul {
    text-align: left;
    margin: 20px;
    font-size: 25px;
}

#footer ul li {
    margin-top: 10px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

#footer ul li a {
    text-transform: uppercase;
    display: block;
    height: 40px;
    transition: all 300ms;
}

#footer ul li a:hover {
    color: #ffffff;
    padding-left: 40px;
}


#footer iframe {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    margin-top: 10px;
}

#footer img {
    margin-bottom: 15px;
}

#footer #browsers {
    margin-bottom: 10px;
    margin-top: 20px;
}

#footer #browsers img {
    width: 49px;
}