/* FUENTES */

@font-face {
    font-family: "BebasNeue";
    src: url('fonts/BebasNeue.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TrebuchetMS";
    src: url('fonts/TrebuchetMS.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "WebSymbolsRegular";
    src: url(fonts/websymbols-regular-webfont.eot);
    src: url(fonts/websymbols-regular-webfont.svg#WebSymbolsRegular) format("svg") url(fonts/websymbols-regular-webfont.eot);
    src: url(fonts/websymbols-regular-webfont.eot?#iefix) format("embedded-opentype"),
        url(fonts/websymbols-regular-webfont.woff) format("woff"),
        url(fonts/websymbols-regular-webfont.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
}

.gear,
.icon {
    font-family: WebSymbolsRegular;
}


.wrap {
    width: 1250px;
    margin: 0px auto;
}

body {
    background: url(../img/pattern.png);
}

/* HEADER*/

#header {
    width: 100%;
    background-color: #000000;
    height: 70px;
}

#header .wrap {
    display: flex;
    justify-content: space-between;
    height: 70px;
    font-family: BebasNeue;
}

#logo {
    text-align: center;
    float: left;
    background-color: #37BCF9;
    color: #ffffff;
    width: 200px;
    height: 50px;
    font-size: 35px;
    letter-spacing: 1px;
    margin-top: 7px;
    padding-top: 5px;
    overflow: hidden;
    cursor: pointer;
}

#logo .gear {
    display: block;
    float: left;
    padding-left: 20px;
}

#logo h3 {
    font-size: 40px;
    line-height: 50px;
    padding-right: 30px;
}

/* MENU */


#menu {
    font-family: BebasNeue;
    font-size: 30px;
    line-height: 70px;
}

#menu ul li {
    list-style: none;
    float: left;
}


#menu ul li a {
    display: block;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
}

#menu ul li a:hover {
    color: #37BCF9;
    transform: scale(1.2, 1.2);
}

/* BANNER */

#banner {
    width: 95.5%;
    height: 100px;
    border: 10px solid #ffffff;
    box-shadow: 0px 0px 2px gray;
    margin-top: 10px;
    background-image: url(../img/bakbaner.png);
    background-position: -200px -200px;
    color: #ffffff;
    font-size: 25px;
}

#banner h1 {
    display: block;
    width: 850px;
    margin: 25px auto;
    font-size: 40px;
    font-family: BebasNeue;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 2px 2px 1px #000000;
}

/* CARDS */

.card {
    float: left;
    width: 209px;
    height: 305px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 2px #ddd;
    background-color: #ffffff;
    margin: 17px;
    margin-top: 40px;
    cursor: pointer;
}

.card .icon {
    display: block;
    height: 130px;
    font-size: 50px;
    line-height: 100px;
    text-align: center;
}

.card .category {
    width: 100%;
    height: 50px;
    font-family: TrebuchetMS;
    font-size: 20px;
    text-align: center;
    color: #003763;
}

.card .description {
    font-family: TrebuchetMS;
    font-size: 15px;
    text-align: center;
    color: #003763;
    padding: 2px;
}

/*ASIDE */



#lateral {
    height: 1135px;
    width: 337px;
    font-family: TrebuchetMS;
    float: right;
    margin-top: 60px;
    padding-left: 20px;
}

#lateral h3 {
    display: block;
    text-transform: uppercase;
    border: 1px solid #24282A;
    width: 300px;
    height: 50px;
    line-height: 45px;
    background: url(../img/pxgray.png), #ffffff;
    font-family: BebasNeue;
    font-size: 30px;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 12px;
    margin-bottom: 15px;
    letter-spacing: 2px;
    box-shadow: 1px 1px #000000;
}

#lateral h3:first-child {
    margin-top: 0px;
}

#search,
#login,
#social,
#sponsors {
    margin-top: 30px;
    margin-bottom: 40px;
}

#search {
    width: 90%;
    height: 30px;
    background-color: #ffffff;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    box-shadow: 1px 1px 4px #ccc inset;
}

#lateral input[type="text"] {
    width: 85%;
    height: 26px;
    padding-left: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
    color: #ccc;
    transition: all 300ms;
}

#lateral input[type="text"]:focus {
    color: #555;
}


#lateral input[type="button"] {
    font-size: 15px;
    height: 30px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    border-left: 1px solid #ccc;
    padding-left: 9px;
}

.aside-box {
    width: 85%;
    height: 240px;
    margin-left: 12px;
    background-color: #ffffff;
    padding-top: 5px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.3), 0px 1px #ffffff inset, 0px -3px 2px rgba(0, 0, 0, 0.3) inset;
}

#lateral input[type="email"],
#lateral input[type="password"] {
    display: block;
    margin: 0px auto;
    width: 76%;
    height: 26px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #ccc inset;
    border-radius: 5px;
    padding-left: 48px;
    transition: all 300ms;
    outline: none;
    margin-top: 10px;
}


#lateral input[type="email"]:focus,
#lateral input[type="password"]:focus {
    color: #555;
    box-shadow: 1px 1px 1px #ccc inset;
}

#login #user,
#login #password {
    display: block;
    text-align: center;
    position: absolute;
    margin-left: 25px;
    margin-top: 4px;
}

#login #password {
    font-size: 22px;
    padding-top: 8px;
    padding-left: 2px;
}

#login input[type="submit"],
#login input[type="button"],
#login input[type="reset"],
#login button {
    text-align: center;
    width: 100px;
    height: 36px;
    margin-top: 20px;
    color: #ffffff;
    background: linear-gradient(to bottom, #3eb8e5 0%, #2ca0ca 100%);
    border: 1px solid #156785;
    cursor: pointer;
    font-size: 15px;
    font-family: TrebuchetMS;
    margin-left: 20px;
    font-weight: lighter;
    text-transform: capitalize;
    transition: all 300ms;
}

#login input[type="submit"]:hover,
#login input[type="button"]:hover,
#login input[type="reset"]:hover,
#login button:hover {
    box-shadow: 0px 0px 3px gray;
}

#login a {
    display: block;
    padding-top: 20px;
    padding-left: 20px;
    text-decoration: none;
    font-size: 16px;
    color: #000000;
}

#login a:hover {
    text-decoration: underline;
    color: #2f78bc;
}

#social {
    width: 200px;
    margin-left: 50px;
}

#social a {
    display: block;
    color: #000000;
    text-decoration: none;
    font-size: 30px;
    padding-top: 15px;
    padding-left: 20px;
}

#social a:hover {
    color: #2f78bc;
}

/* ARTÃCULOS */

#articles {
    display: block;
    float: left;
    height: 1900px;
    width: 67%;
    margin-top: 60px;
}

#articles h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: BebasNeue;
    font-size: 30px;
    border: 1px solid #24282A;
    height: 60px;
    width: 100%;
    line-height: 60px;
    letter-spacing: 2px;
    background: url(../img/pxgray.png), #ffffff;
}

#articles .news {
    margin-top: 30px;
    border: 1px solid #CDCDCD;
    background-color: #ffffff;
    box-shadow: 1px 1px #ccc;
    font-family: TrebuchetMS;
    padding: 20px;
}

#articles .news .date {
    float: right;
    background-color: #393D3F;
    color: #ffffff;
    margin-top: -20px;
    margin-right: -21px;
    height: 50px;
    border-bottom-left-radius: 5px;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

#articles .news h4,
#articles .news h4 a {
    width: 190px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 23px;
    color: #00559B;
    margin-top: -9px;
}

#articles .news h4 a:hover {
    text-decoration: underline;
}

#articles .news p {
    padding-top: 30px;
}

#articles .news p a {
    text-decoration: none;
    color: #00559B;
    font-weight: bold;
}

#articles #blog {
    margin-top: 40px;
    width: 100%;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border: 1px solid #CDCDCD;
    background-color: #ffffff;
    box-shadow: 1px 1px #ccc;
}

#articles #blog a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 40px;
    color: #00559B;
    font-family: BebasNeue;
    font-weight: bold;
    letter-spacing: 3px;
}

.clearfix {
    clear: both;
}

#footer {
    width: 100%;
    height: 470px;
    background: #000000;
    color: white;
    overflow: hidden;
}

#footer .wrap>div {
    float: left;
    width: 336px;
    height: 414px;
    margin: 40px;
    color: white;
    text-align: center;
    font-family: TrebuchetMS;
}


#footer a {
    text-decoration: none;
    color: #3ABBED;
    text-align: center;
}

#footer h5 {
    background: url(../img/pxgray.png), #ffffff;
    font-family: BebasNeue;
    color: #000000;
    font-size: 40px;
    border: 1px solid #24282A;
    width: 300px;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#footer ul {
    margin-top: 20px;
    margin-left: 25px;
}

#footer ul li {
    width: 265px;
    margin-top: 20px;
    font-size: 30px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

#footer ul li a {
    display: block;
    text-align: left;
    height: 40px;
}


#mapa {
    width: 90%;
    height: 300px;
    margin-right: 34px;
    border-radius: 5px;
    margin-top: 3px;
}

#footer #info span{
margin-right: 30px;
}

#footer img{
margin-bottom: 20px;
}

#footer #browsers{
margin-right: 35px;
}

#footer #browsers img{
width: 45px;
}